.subCategoryContainer {
    position: absolute;
    top: 2.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-wrap: nowrap;
    min-width: max(100%, 13rem);
    padding: 1rem;
    opacity: 0;
    transform: translateY(-1rem);
    transition: all 300ms ease-in-out;
    pointer-events: none;
}

.li:hover .subCategoryContainer {
    opacity: 1;
    transform: translateY(0);
    pointer-events: initial;
}   
